<!DOCTYPE html>
<html lang="en">

<head>

  {{>head}}

  <title>Voter Cafe</title>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
				
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</head>

<body>


    {{!-- <div class="ui container center aligned">
      <div class="ui centered grid">
        <div class="center aligned sixteen wide column no-bottom-padding">
          <br>
          <div class="title eczar">Voter Cafe</div>
          <br>
          <div id="main-divider2" class="ui divider"></div>
        </div>
        </div>
        </div>
        <div class="center aligned segment">
           <div class="ui centered grid">
             
        <div id="menu-padding" class="ui row ">
          <div class="center aligned twelve wide column ">
            <div class="five ui buttons stackable">
              <button id="support" class="ui basic button" onclick="location.href='/support'">Support</button>
              <button id="home" class="ui basic button" onclick="location.href='/home'">Home</button>
              <button id="contact" class="ui basic button" onclick="location.href='/contact'">Contact</button>
              <button id="about" class="ui basic button" onclick="location.href='/about'">About</button>
            </div>
            <div id="main-divider2" class="ui clearing divider"></div>
          </div>
        </div>
      </div>
    </div> --}}
    <div class="ui container">
           <div class="ui centered grid">
             <div class="sixteen wide center aligned column widescreen large screen tablet computer only">
               <br>
   <div class="ui middle aligned massive stackable menu text">
     <a class="header item" href='/home'>
   <div class="pagetitle eczar">Voter Cafe</div>
  </a>
  <div class="right menu">
  <a class="item" href='/about'>
    About
  </a>
    <a class="item" href='/contact'>
    Contact
  </a>
  <a class="item" href='/support'>
    Support
  </a>
  </div>
</div>
</div>
</div>
<div class="ui centered special grid">
<div class="sixteen wide column mobile only">
<div class="ui fluid accordion mobile-accordian">
  <div class="title">
    <i class="sidebar icon"></i><span class="pagetitle-mobile eczar">Voter Cafe</span>
  </div>
  <div class="content center aligned">
    <div class="ui relaxed list transition visible center aligned" style="display: block !important;">
    <a class="item centered" href='/home'>Home</a>
    <a class="item centered" href='/about'>About</a>
    <a class="item centered" href='/contact'>Contact</a>
    <a class="item centered" href='/support'>Support</a>
    <br>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

  {{{body}}}

<br>
<br> 
 

<footer class="footer centered">
    <div class="ui center aligned container">
      <div class="ui stackable grid">
        <div class="column">
          Voter Cafe</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
          <h3 class="ui header">Financial data provided by <span><a href="https://www.opensecrets.org/">OpenSecrets.org</a></span></h3>
        <p>We don't store any of your data.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type"></span>
      </div>
    </div>
  </div>
  </footer>
  
  <script>
   $('.ui.accordion').accordion();
  </script>

</body>

</html>