<div class="ui container">
    <br>
    <div class='ui grid'>
        <div class='thirteen wide column'>
                <div class="ui basic segment">
                <h2 class="ui header4">About</h2>
                <p>Voter Cafe is a civic engagement project focused on increasing transparency around U.S. election campaign financing. It provides users with basic information on their current representatives and in-depth information on their federal election candidates.</p><p>Voter Cafe is currently in a beta phase. The bigger goal of the project is to ultimately form into a one stop destitation for U.S. federal election information by the year 2020. If you are interested in contributing to this project, please use the contact page to get in touch.</p>
                <br>
                <h2 class="ui brown header">FAQ</h2>
                <br>
                <h3 class="ui header">Who is behind this project? Is there a political bias involved?</h3>
                <br>
                <p>Voter Cafe is an entirely volunteer-based project and therefore not influenced by the agenda of any donor. It was created by Avisha Sabaghian. She is not an acitivist for a political party/idealogy nor funded by any interest groups, and has taken special care to eliminate any potential informational bias in favor of a party or idealogy.</p> <p> Voter Cafe simply provides users with unbiased objective data. Any conclusion or judgement derived from that data is solely the activity of the user.  </p>
                <h3 class="ui header">What are the sources of your information?</h3>
                <br>
                <p>Voter Cafe uses a variety of sources. These include <span class="bold"><a href="https://www.propublica.org/datastore/dataset/2018-midterm-election-congressional-candidates" target="_blank">ProPublica</a></span>, <span class="bold"><a href="https://www.opensecrets.org/" target="_blank">The Center for Responsive Politics</a></span>, <span class="bold"><a href="https://www.census.gov/en.html" target="_blank">U.S Census Bureau</a></span>, <span class="bold"><a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia</a></span>, and <span class="bold"><a href="https://whoismyrepresentative.com/" target="_blank">whoismyrepresentative.com</a></span>.</p>
                <h3 class="ui header">What is the methodology behind the campaign financing data?</h3>
                <br>
                <p>All of the financial information on this website are retrieved from <span class="bold"><a href="https://www.opensecrets.org/" target="_blank">The Center for Responsive Politics</a></span>. Please refer to their methodology page <span class="bold"><a href="https://www.opensecrets.org/overview/methodology.php" target="_blank">here</a></span> for more detailed information.</p>
                </div>
            </div>
    </div>
</div>