<div class="ui container">
    <br>
    <div class='ui ten wide column grid'>
        <div class='column'>
    <div class="ui basic segment">
<h1 class="ui header center-text">Thanks for getting in touch!</h1>
<br>
<h4 class="ui green header center-text">Your message has been sent. We will contact you shortly.</h4>
</div>
</div>
</div>
</div>
</div>