<div class="ui container">
    <br>
    <div class='ui grid'>
        <div class='centered center aligned column'>
                <div class="ui basic segment">
                <h3 class="ui header4">We don’t store your data, period.</h3>
                </div>
    </div>
</div>