<div class="wrapper">
  <div class="main-column">
    <div class="center-text">
      <h1>WELCOME</h1>
      <div class="roboto-400-small top-margin">search for candidates based on location and see information on their campaign finances</div>
    </div>
    <div class="formAddress">
    <form method="post" action="/home/submit">
    <label class="address-label roboto-400" for="address">enter your address below</label>
    <input type="address" class="address roboto-400"" name="address" placeholder="ex 1600 Pennsylvania Ave NW, Washington, DC 20500">
      {{!-- <button id="submit" class="btn-custom-address" role="button" type="submit">Submit</button> --}}
    </form>
    </div>

  </div>
  <div class="side-column1"></div>
  <div class="side-column2"></div>
  <div class="side-column3"></div>
  <div class="side-column4"></div>
</div>