<div class="ui container">
    <br>
    <div class='ui grid'>
        <div class='thirteen wide column'>
                <div class="ui basic segment">
                <h2 class="ui header4">Support Voter Cafe</h2>
                <p>Voter Cafe was created by Avisha Sabaghian without any outside funding, and it is meant to be a platform entirely run by volunteers. While it functions well at its current stage, it could be significantly improved and expanded with your help.</p>
                <p>If you're a researcher interested in volunteering your work to developing databases, please get in touch through the <span class="bold"><a href="/contact" target="_blank">contact page</a></span>. <br>If you're a developer looking to contribute your programming skills, please visit <span class="bold"><a href="LINK" target="_blank">Voter Cafe's github page</a></span>.</p>
            </div>
    </div>
</div>
</div>
<div class="buffer"></div>